@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
/* ### Primary */

--Lime-Green: hsl(163, 72%, 41%);
--Bright-Red: hsl(356, 69%, 56%);

--Facebook: hsl(208, 92%, 53%);
--Twitter: hsl(203, 89%, 53%);
--Instagram:linear-gradient(to left,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
--YouTube: hsl(348, 97%, 39%);

/* #### Dark Theme */

--Toggle:linear-gradient( to right,hsl(210, 78%, 56%), hsl(146, 68%, 55%));



/* #### Dark Theme */
/*  (BG) */
--bg-color: hsl(230, 17%, 14%);
/* (Top BG Pattern) */
--bg-top-pattern : hsl(232, 19%, 15%);
/* (Card BG) */
--bg-card : hsl(228, 28%, 20%);
/* (Text) */
--txt-clr-primary : hsl(228, 34%, 66%);
/* (Text) */
--txt-clr-secondary : hsl(0, 0%, 100%);

--clr-box-hover:hsl(228, 28%, 30%);

}
.active{
/* #### Light Theme */
/* (BG) */
--bg-color: hsl(0, 0%, 100%);
/* (Top BG Pattern) */
--bg-top-pattern: hsl(225, 100%, 98%);
/* (Card BG) */
--bg-card : hsl(227, 47%, 96%);
/* (Text) */
--txt-clr-primary  : hsl(228, 12%, 44%);
/* (Text) */
--txt-clr-secondary: hsl(230, 17%, 14%); 
--clr-box-hover:hsl(228, 28%, 90%);

}
html{
  box-sizing: border-box ;
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;


}
body{
  font-family: 'Inter', sans-serif;
  color: var(--txt-clr-secondary);
  min-height: 100vh;
  background-color: var(--bg-color);
  
}
.container{
  width: clamp(30rem,90%,120rem);
  margin: 0 auto;
  padding-bottom:  clamp(4rem,4.5rem,5rem) ;
}
.grid{
  display: grid ;
  grid-template-columns: 1fr;

}
.flex{
  display: flex;

}
h1,h2,h3,p{
  font-weight: 700;
}

h1{
  font-size: clamp(3.8rem,4vw,4.2rem);
}
h2{
  font-size: clamp(2.8rem,3vw,3.6rem);
}
h3{
  font-size: clamp(1.8rem,2vw,2.4rem);
}
p{

  font-size: clamp(1.2rem,3vw,1.4rem);
}
.clr-light-gray{
  color: var(--txt-clr-primary);
}

.clr-green,.clr-red{
  position: relative;
  font-size: clamp(1rem,1vw,1.2rem);
}
.clr-green{
  color: var(--Lime-Green);
}
.clr-red{
  color: var(--Bright-Red);
}
.icon-green::before,
.icon-red::before{
  padding-right: 0.4rem;
}
.icon-green::before{
  content: url(./images/icon-up.svg);
  padding-right: 0.2rem;
}
.icon-red::before{
  content: url(./images/icon-down.svg);
}
.fw-400{
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: clamp(2rem,2.5vw,3rem);
}

/* NAV SECTION */
.nav{
  padding: clamp(2rem,2.5vw,3rem) 0;
  flex-direction: column  ;
  gap: 2rem;
}
.nav-toggle-icon{
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.5rem 0;
  border-top: 2px solid var(--bg-card);
  width: 100%;
}

p.toggle-icon-name{
  margin: 0;
 
}
.toggle-box{
  position: relative;
  top: 0;
  left: 0;
  width: 5rem;
  height:2.5rem;
  background:var(--Toggle);
  border-radius: 50rem;
   box-shadow: inset 1px 1px 20px rgba(0,0,0,0.2);
   z-index: 1;

}
.toggle-box:hover{
  background: var(--Toggle);

}
.light-mode{
  background: var(--bg-color);
}
.toggle-box .dark-mode{
  position: absolute;
  top: 0;
  left: 0;
  width: 2.4rem;
  height:2.5rem;
  transform: scale(0.8);
  z-index: 3;
  border-radius: 50%;
  background:var(--bg-top-pattern);
  transition: left 1s ;
}

.toggle-box .light-mode{
  left: 50%;
  background-color: #fff;

}

/* HEADER SECTION */

header.head::before{
  content: '';
  background-color: var(--bg-top-pattern);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  z-index:-1;
}
header.light-mode{
  background-color: #fff;
}
.header,main{
  text-align: center;
}
.header{
  gap: clamp(2rem,2.2vw,2.5rem);

}

.header .flex{
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .flex-icon{
  margin-bottom: clamp(2rem,2.2vw,2.5rem);
}

img{
  width: clamp(1.8rem,1.8vw,2rem);
}
.box{
  background-color: var(--bg-card);
  padding: clamp(3rem,3.5vw,4rem) clamp(2.5rem,3vw,3.5rem) clamp(2rem,2.5vw,3rem) clamp(2.5rem,3vw,3.5rem);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--bg-card);
  transition: all 1s ease;
}
.box:hover{
  cursor: pointer;
 background-color:var(--clr-box-hover) ;

}
.border-top-color-facebook{
  border-top: 4px solid var(--Facebook);
}
.border-top-color-twitter{
  border-top: 4px solid var(--Twitter);
}
.border-top-color-instagram{
position: relative;
overflow: hidden;
}
.border-top-color-instagram::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 4px;
  background:linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));;
}
.border-top-color-youtube{
  border-top: 4px solid var(--YouTube);
}
/* MAIN SECTION */
main h3{
  text-align: left;
  margin-bottom: clamp(2rem,2.5vw,3rem);
}
main .grid{
  gap: clamp(1.5rem,1.6vw,2rem);
}
main .flex{
  justify-content: space-between;
  align-items: center;
  
}
main .box .flex:first-child{
  margin-bottom: clamp(3.5rem,3.5vw,4rem);
}
@media (min-width:600px) {
  .grid{
    grid-template-columns: repeat(2,1fr);
  }
  .clr-white{
    color:var(--Lime-Green);
  }
  .nav{
    flex-direction: row;
    gap: 0;
  }
  .nav-social,.nav-toggle-icon{
    flex: 1;
  }
  .nav-toggle-icon{
    border: none;
    justify-content: flex-end;
    gap: 1.5rem;
    padding: 0;
    cursor: pointer;

  }
  .nav-toggle-icon:hover p{
    color: var(--txt-clr-secondary);

  }
}
@media (min-width:1024px){
  .grid{
    grid-template-columns: repeat(4,1fr);
  }
}